@font-face {
  font-family: "Special Elite";
  src: url("../assets/fonts/SpecialElite/SpecialElite-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Libre Baskerville";
  src: url("../assets/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf")
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --header-color: #121435;
  --main-color: #1e204a;
  --text-color: #ffffff;
}

body {
  min-height: 100vh;

  display: grid;
  grid-template-rows: 0.5fr 5fr 0.5fr;
}

header {
  font-family: "Special Elite", "Times New Roman", Times, serif;
  font-size: min(5vw, 1.8em);

  background-color: var(--header-color);
  color: var(--text-color);


  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--main-color);

  grid-row: 2/3;
}

#content {
  display: grid;
  grid-template-columns: 1fr max(20vw, 300px) 1fr;

  height: 100%;
}

.board {
  width: clamp(350px, 30vw, 40vw);
  height: clamp(350px, 30vw, 40vw);

  justify-self: center;
  align-self: center;

  background-color: transparent;
  border: 3px solid var(--text-color);

  display: flex;
  flex-wrap: wrap;
}

.content-left {
  grid-column: 1/2;
  grid-row: 1/2;
}

.content-right {
  grid-column: 3/4;
  grid-row: 1/2;
}

.cell {
  border: 1px solid var(--text-color);

  width: 10%;
  height: 10%;

  
  transition-duration: 0.2s;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.enemy-cell:hover {
  background-color: #008000;
  cursor: crosshair;
}

.player-tag {
  font-family: "Libre Baskerville", "Times New Roman", Times, serif;
  font-size: min(2vw, 2em);

  color: var(--text-color);
  text-align: center;
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.miss, .hit {
  border-radius: 50%;

  width: 50%;
  height: 50%;
  cursor: default;
  border: 4px solid #dbdbdb;
}

.miss {
  background-color: #888888;
}

.hit {
  background-color: #aa2f2f;
}

.ship {
  background-color: #4690fd;
}

footer {
  grid-row: 3/4;

  background-color: var(--header-color);
  color: var(--text-color);

  font-family: "Libre Baskerville", serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #4690fd;
}
